$color-primary: #ffffff;
$color-text: #494949;
$color-text-light: #aaaaaa;
$color-interactive: #427ed1;

$color-light-background: #f5f5f5;
$da-capire2: #55cce5;

$background-newsletter: rgba(48,51,55,255);
$background-footer: rgba(43,46,50,255);
$background-dark: rgba(29,31,34,255);