@import "./partials/variables";
@import "./partials/mixins";

@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: $color-text;
}

.fluid-container {
  width: 100%;
  @include flex-center-center;
  position: relative;
}

.width-container {
  width: 1240px;
  @include flex-center-center;
}

.width-column-container {
  width: 1240px;
  @include flex-col-center-center;
}

.section {
  padding: 5rem 0;
  @include flex-col-center-center;
  gap: 4rem;
}

.section-padding {
  padding: 8rem 0;
}

.barred-text {
  text-decoration: line-through;
}